* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Libre Bodoni', serif;

}
:root {
    /* może  #ffe88c;  Mamie się podobają:  #ED0004 #0023E0 #FFF1F0*/
    --color1: #ffeea8;
    --color2: #2d2a23;
    --color3: #fc2634;
    --color4: #f5404b;

    /*
    --color1: #ffeea8;
    --color2: #2d2a23;
    --color3: #fc2634;
    --color4: #f5404b; */
}

body {
    color: var(--color2);
    background: var(--color1)
    /* linear-gradient(45deg,rgba(155,167,177, 0.7), transparent),
    repeating-linear-gradient(45deg, rgba(200,148,93,0.5) 0%,rgba(200,148,93, 1) 5%, rgb(112,75,50) 5%, rgba(112,75,50,0.5) 6%,transparent 6%,transparent 25%),
    rgba(143,169,188,0.5) repeating-linear-gradient(-45deg, rgb(117,118,121) 0%, rgba(117,118,121,0.5) 5%, transparent 5%, transparent 30%) */
    /* piękny griadient mojej roboty :) */
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: var(--color2);
    top: 0%;
    width: 100vw;
    display: flex;
    position: fixed;
    height: 55px;
    align-items:center;
    z-index: 999;
    border-bottom: 3px solid rgba(128, 128, 128, 0.683);
    padding-right: 3%;

}
nav a {
    margin: 1%;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 60%;
    color: var(--color4);
    text-decoration: none;
    text-transform:uppercase ;
    border-radius: 25px;
}
nav a:hover {
    opacity: 0.8;
    color: #fc2634;
}
nav h1 {
    text-align: right;
    margin-left:25%;
}
nav h2 {
    margin-right: auto;
    margin-left: 5%;
    font-family: 'Dancing Script', cursive;
    color: var(--color1);
}
.header_i_glowny_tekst {
    margin: 0%;
    margin-bottom: 5vh;
    background-color: var(--color4);
}
header{
    background-image: linear-gradient(var(--color1) 0%,var(--color4) 100%);
    min-height: 95vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    /*     flex-direction: column; */

}
.kreska_pod_header{
    margin: auto;
    width: 80vw;
    height: 0.5vh;
    background-color: var(--color2);
    margin-top: -5vh;
    border-radius: 75px;
}
.logo{
    margin-top: 15%;
    width: 50%;
    border-radius: 50%;
}
.img_koszyk {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 75%;
    opacity: 0.7;
    /*     ladnie zdjecie przycina :) */

}
.koszyk{
    text-align: center;
    width: 50%;
    height: 100%;

}
.textWHeader {
    height: 100%;
    margin: 5% 0%;
    text-align: center;
    
}
.textWHeader > h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 150px;
    margin-top: 5%;
}
.textWHeader > h1::first-line {
    font-family: 'Dancing Script', cursive;
    font-size: 70%;
}
.textWHeader > h3{
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    margin-top: 5%;
}
main > div {
    margin: 0px 1%;
}
.glowny_tekst {
    background-color: var(--color4);
    padding: 10vh 10vw;
}
.glowny_tekst h2 {
    font-family: 'Dancing Script', cursive;

    text-align: center;
    font-size:100px;
    line-height: 100px;
    margin-bottom: 30px;
    padding-top: 5vh;
}
.glowny_tekst p {
    padding: 0px 1vw;
    line-height: 45px;
    min-width: 200px;
    margin-top: 2vh;
    font-size: 30px;
}

.puste_miejsce {
    min-width: 30%;
    height: 0px;
}
.zdjecie_z_tekstem {
    margin-bottom: 5vh;
    min-height: 200px;
    display: flex;
    align-items: center;
}
.zdjecie_z_tekstem img {
    box-shadow: var(--color2) 0px 7px 29px 0px;    
    border-radius: 10%;
    width: 50%;
}
.zdjecie_z_tekstem h2 {
    font-size: 60px;
    margin: 0 20px;
    padding: 5px;
    text-align: center; 
}
.zdjecie_z_tekstem p {
    font-size: 30px;
    margin: 0 20px;
    padding: 5px;
    text-align: center;
    line-height: 45px;
}
.opinie {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    background-color: var(--color2);
    color: var(--color1);
    align-items: center;
    justify-content: center;
    gap: 2.5%;
    padding: 4% 5%;
}
.o_kliencie {
    display: flex;
}
.klient_zdjecie_div {
    width: 100px;
    height: 100px;
}
.opinie img{
    -webkit-user-drag: none;  
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}
.opinie h2 {
    align-self: first baseline;
    text-align: center;
    width: 100%;
    font-size: 60px;
    margin-bottom: 20px;
}
.klient {
    width: 30%;
    height: 70%;
    border-radius: 40px;
}
.rozdzielacz_opini {
    border-radius: 75px;
    background-color: var(--color4);
    width: 0vw;
    height: 0.5vh;
}
.opinie p {
    color: var(--color1);
    font-size: 30px;
    padding: 5px 10px;
    height: 39%;
}
.opinie h3 {
    width: 60%;
    margin: auto;
    color: var(--color1);
    font-size: 25px;
    padding: 0px 10px;
}

.pytania_i_odpowiedzi {
    color: var(--color1);
}
.pytania_i_odpowiedzi > h2 {
    color: var(--color2);
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin-bottom: 5%;
}
.pytania_i_odpowiedzi label{
    color: var(--color4);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}
.pytania_i_odpowiedzi label + input[type="radio"] {
    display: none;
}
.pytania_i_odpowiedzi span {
    transform: rotate(90deg);
    font-size: 22px;
}
.pytania_i_odpowiedzi ul {
    margin: 0% auto;
    width: 60%;
    min-height: 50vh;
}
.pytania_i_odpowiedzi li {
    list-style: none;
    width: 100%;
    margin-bottom: 2%;
    background-color: var(--color2);
    padding: 10px;
    border-radius: 4px;
}
.pytania_i_odpowiedzi .odpowiedz {
    font-size: 24px;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0s linear;
}
.pytania_i_odpowiedzi label + input[type="radio"]:checked + .odpowiedz {
    max-height: 1000vh;
}
footer {
    background-color: var(--color2);
    color: var(--color1);
    height: 120px;
    text-align: left;
}
footer h3 {
    text-align: center;
}
footer div {
    width: 40%;
    margin-left: 30%;
}
input[type="radio"]:checked + .pytania_i_odpowiedzi::before span {
    color: blue;
}
/* dla galeri 33: https://1stwebdesigner.com/css-effects/ 

██████████████████████████████████████████████████████████████████████████████████████████████████████████
█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░█████████░░░░░░░░░░░░░░█░░░░░░░░░░░░░░░░███░░░░░░░░░░█░░░░░░░░░░░░░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░█████████░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀▄▀░░███░░▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀░░░░░░░░░░█░░▄▀░░░░░░▄▀░░█░░▄▀░░█████████░░▄▀░░░░░░░░░░█░░▄▀░░░░░░░░▄▀░░███░░░░▄▀░░░░█░░▄▀░░░░░░▄▀░░█
█░░▄▀░░█████████░░▄▀░░██░░▄▀░░█░░▄▀░░█████████░░▄▀░░█████████░░▄▀░░████░░▄▀░░█████░░▄▀░░███░░▄▀░░██░░▄▀░░█
█░░▄▀░░█████████░░▄▀░░░░░░▄▀░░█░░▄▀░░█████████░░▄▀░░░░░░░░░░█░░▄▀░░░░░░░░▄▀░░█████░░▄▀░░███░░▄▀░░░░░░▄▀░░█
█░░▄▀░░██░░░░░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░█████████░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀▄▀░░█████░░▄▀░░███░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀░░██░░▄▀░░█░░▄▀░░░░░░▄▀░░█░░▄▀░░█████████░░▄▀░░░░░░░░░░█░░▄▀░░░░░░▄▀░░░░█████░░▄▀░░███░░▄▀░░░░░░▄▀░░█
█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░█████████░░▄▀░░█████████░░▄▀░░██░░▄▀░░███████░░▄▀░░███░░▄▀░░██░░▄▀░░█
█░░▄▀░░░░░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░░░░░░░░░█░░▄▀░░░░░░░░░░█░░▄▀░░██░░▄▀░░░░░░█░░░░▄▀░░░░█░░▄▀░░██░░▄▀░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░██░░▄▀▄▀▄▀░░█░░▄▀▄▀▄▀░░█░░▄▀░░██░░▄▀░░█
█░░░░░░░░░░░░░░█░░░░░░██░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░██░░░░░░░░░░█░░░░░░░░░░█░░░░░░██░░░░░░█
██████████████████████████████████████████████████████████████████████████████████████████████████████████
*/
.galeria_header {
    margin: 0%;
    margin: 55px 0px;
        width: 100%;
    height: 45vh;
    background-color: var(--color1);
}
.galeria_header h1 {
    text-align: center;


    font-size: 100px;
    font-family: 'Dancing Script', cursive;
}
.galeria_header p {
    text-align: center;
    font-size: 50px;
    margin: 50px 5%;
}
.galeria_header h3 {
    text-align: center;
    font-size: 40px;
}







.grid {
    margin: 0px auto;
    padding: 5vh;
    width: 96vw;
    background-color: rgba(128, 128, 128, 0.8);
    display: grid;
    grid-template-columns: repeat(4, 21.5vw);
    grid-template-rows: repeat(4, 50vh);
    grid-auto-rows: 50vh;
    column-gap: 2vh;
    row-gap: 2vh;
}
.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

    position: relative;
    display: block;
}
.galeria_zdjecie {
    padding: 2%;
    color: white;
    position: relative;
    text-align: center;

    overflow: hidden;
    cursor: default;
    background-color: var(--color4);
}
.galeria_zdjecie img:hover{
    transition: all 0.4s ease-in-out;
    opacity: 80%;
	transform: scale(1.1);

}
.galeria_zdjecie:hover .maska { 
	opacity: 1;
}
.maska {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: all 0.4s ease-in-out;
}

.galeria_zdjecie h2{
    margin-top: 10%;
    width: 100%;
    height: 10%;
    background-color: #704b32;
    font-size: 40px;
}
.galeria_zdjecie p{
    margin-top: 5%;
    font-size: 25px;
}







.col_span2 {
    grid-column-end: span 2;
}
.row_span2 {
    grid-row-end: span 2;
}
.col_span3 {
    grid-column-end: span 3;
}

/* 
██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████
█░░░░░░██░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░██████████░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░██░░░░░░░░█░░░░░░░░░░░░░░█
█░░▄▀░░██░░▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░░░░░░░░░██░░▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░██░░▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀░░██░░▄▀░░░░█░░▄▀░░░░░░▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░██░░▄▀░░█░░░░░░▄▀░░░░░░█░░▄▀░░░░░░▄▀░░█░░▄▀░░██░░▄▀░░░░█░░░░░░▄▀░░░░░░█
█░░▄▀░░██░░▄▀░░███░░▄▀░░██░░▄▀░░█░░▄▀░░░░░░▄▀░░██░░▄▀░░█████░░▄▀░░█████░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░███████░░▄▀░░█████
█░░▄▀░░░░░░▄▀░░███░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░██░░▄▀░░█████░░▄▀░░█████░░▄▀░░░░░░▄▀░░█░░▄▀░░░░░░▄▀░░███████░░▄▀░░█████
█░░▄▀▄▀▄▀▄▀▄▀░░███░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░██░░▄▀░░█████░░▄▀░░█████░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░███████░░▄▀░░█████
█░░▄▀░░░░░░▄▀░░███░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░██░░▄▀░░█████░░▄▀░░█████░░▄▀░░░░░░▄▀░░█░░▄▀░░░░░░▄▀░░███████░░▄▀░░█████
█░░▄▀░░██░░▄▀░░███░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░░░░░▄▀░░█████░░▄▀░░█████░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░███████░░▄▀░░█████
█░░▄▀░░██░░▄▀░░░░█░░▄▀░░░░░░▄▀░░█░░▄▀░░██░░▄▀▄▀▄▀▄▀▄▀░░█████░░▄▀░░█████░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░░░█████░░▄▀░░█████
█░░▄▀░░██░░▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░██░░░░░░░░░░▄▀░░█████░░▄▀░░█████░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀▄▀░░█████░░▄▀░░█████
█░░░░░░██░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░██████████░░░░░░█████░░░░░░█████░░░░░░██░░░░░░█░░░░░░██░░░░░░░░█████░░░░░░█████
██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████ */

.kontakt {
    background-color: var(--color1);
    width: 95vw;
    margin: auto;
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
}
.kontakt h1 {
    margin: 3.5% 0;
    font-family: 'Dancing Script', cursive;
    text-transform: uppercase;
    font-size: 100px;
    width: 100%;
    text-align: center;
}
.kontakt_lewy {
    width: 100%;
}
.kontakt_tekst {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.kontakt_tekst .ikonka {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 20vw;
    box-shadow: var(--color2) 0px 2px 9px 0px;    
}
.kontakt_media {
    text-align: center;
}
.kontakt_media a{
    margin: 0px 1%;
}
.kontakt h2 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
}
.ikonka img {
    width: 30%;
    height: 30%;
    align-self: flex-start;
    margin-top: 5%;
}
.ikonka p {
    font-size: 25px;
    text-align: center;
    width: 100%;
    font-weight: 500;
    align-self: flex-start;
}
.mapa {
    display: flex;
    margin: 5% 0;
    width: 100%;
    height: 50vh;
    justify-content: center;
}
.mapa iframe {
    width: 70%;
    border-radius: 40px;
}
@media only screen and (min-width: 2000px) {
nav {
    height: 100px;
}
nav h2 {
    font-size: 50px;
}
nav a {
    font-size: 35px;
    width: 150px;
}
.textWHeader > h1 {
    font-size: 250px;
}
.textWHeader > h3 {
    font-size: 80px;
}
.glowny_tekst h2{
    font-size: 145px;
    line-height: 125px;
}
.glowny_tekst p {
    font-size: 40px;
    line-height: 60px;
}

.zdjecie_z_tekstem p {
    font-size: 45px;
    line-height: 60px;
}

.zdjecie_z_tekstem h2 {
    font-size: 85px;
    line-height: 100px;
}
.opinie{
    height: 950px;
}
.opinie h2 {
    font-size: 85px;
    line-height: 100px;
}
.opinie p {
    font-size: 42px;
    line-height: 60px;
}
.klient_zdjecie_div {
    width: 200px;
    height: 200px;
}
.opinie h3{
    font-size: 60px;
    line-height: 60px;
}
.pytania_i_odpowiedzi > h2 {
    font-size: 85px;
    line-height: 100px;
}
.pytania_i_odpowiedzi label{
    font-size: 65px;
}
.pytania_i_odpowiedzi .odpowiedz {
    font-size: 50px;
    line-height: 60px;
}
footer{
    height: 250px;
}
footer h3{
    font-size: 45px;
}
footer h4{
    font-size: 35px;
}

/* kontakt */
.kontakt h1 {
    margin: 100px 0px;
    font-size: 120px;
}
.kontakt h2 {
    font-size: 70px;
}
.kontakt p {
    font-size: 40px;
}
.kontakt img{
    width: 200px;
}
.ikonka img{
    width: 40%;
    height: 40%;
}
.galeria_header h1 {
    margin: 150px 0;
    font-size: 150px;
}
.galeria_header p{
    font-size: 60px;
}
.galeria_header h3{
    font-size: 55px;
}
}
/*


█████████████████████████████████████████████████████████
█░░░░░░░░███░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█
█░░▄▀▄▀░░███░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░░░▄▀░░███░░▄▀░░░░░░▄▀░░█░░▄▀░░░░░░░░░░█░░▄▀░░░░░░▄▀░░█
███░░▄▀░░███░░▄▀░░██░░▄▀░░█░░▄▀░░█████████░░▄▀░░██░░▄▀░░█
███░░▄▀░░███░░▄▀░░██░░▄▀░░█░░▄▀░░░░░░░░░░█░░▄▀░░██░░▄▀░░█
███░░▄▀░░███░░▄▀░░██░░▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░██░░▄▀░░█
███░░▄▀░░███░░▄▀░░██░░▄▀░░█░░░░░░░░░░▄▀░░█░░▄▀░░██░░▄▀░░█
███░░▄▀░░███░░▄▀░░██░░▄▀░░█████████░░▄▀░░█░░▄▀░░██░░▄▀░░█
█░░░░▄▀░░░░█░░▄▀░░░░░░▄▀░░█░░░░░░░░░░▄▀░░█░░▄▀░░░░░░▄▀░░█
█░░▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█
█████████████████████████████████████████████████████████

*/






@media only screen and (max-width: 1050px) {
    .zdjecie_z_tekstem img {
        margin: 10% 0;
        width: 100%;
        order: -1;
        flex-wrap: wrap;
        border-radius: 0%;
    }
    .zdjecie_z_tekstem {
        margin: 0%;
        padding: 0%;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
    }
    .opinie {
        height: 1200px;
    }
    .opinie p {
        font-size: 25px;
    }
    .klient {
        margin: auto;
        width: 90%;
        height: 200px;
    }
    .klient_zdjecie_div {
        margin: auto;
    }
    .rozdzielacz_opini {
        background-color: var(--color4);
        width: 80vw;
        height: 0.5vh;
        margin: 0 10px;
    }
    /* galeria */

    .galeria_header {
        margin: 0%;
        margin: 55px 0px;
        padding-bottom: 5%;
        width: 100%;
        height: auto;
    }
    .grid {
        width: auto;
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        grid-template-rows:auto;
        grid-gap: 0%;
        margin: auto;
        padding: 2%;
    }
    /* kontakt */
    .kontakt_tekst .ikonka {
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 200px;
        box-shadow: var(--color2) 0px 2px 9px 0px;    
    
    }
    .mapa iframe {
        width: 90%;
        border-radius: 40px;
    }
    .ikonka:nth-child(2) {
        order: 69;
        
    }
}
/* 
██████████████████████████████████████████████
█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀░░░░░░░░░░█░░▄▀░░░░░░▄▀░░█░░▄▀░░░░░░▄▀░░█
█░░▄▀░░█████████░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█
█░░▄▀░░░░░░░░░░█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█
█░░▄▀░░░░░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█
█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█░░▄▀░░██░░▄▀░░█
█░░▄▀░░░░░░▄▀░░█░░▄▀░░░░░░▄▀░░█░░▄▀░░░░░░▄▀░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█
██████████████████████████████████████████████
*/
@media only screen and (max-width: 600px) {

    
    nav{
        width: 100%;
        display: flex;
        position: fixed;
        align-items:center;
    
    }
    nav a {
        font-size: 16px;
        text-align: center;
        width: 33%;
        height: 50%;
    }   
    nav h2 {
        display: none;
    }
    .koszyk{
        margin: auto;
        width: 100%;
        height: 50vh;
    }
    header{
        min-height: 65vh;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        /*     flex-direction: column; */
    
    }
    .textWHeader {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 5%;
        text-align: center;
    }
    .textWHeader > h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 45px;
        margin-top: 5%;
    }
    .textWHeader > h1::first-line {
        font-family: 'Dancing Script', cursive;
        font-size: 70%;
    }
    .textWHeader > h3{
        font-family: 'Dancing Script', cursive;
        font-size: 165%;
        margin-top: 5%;
    }
    .glowny_tekst{
        padding: 4%;
    }
    .glowny_tekst h2 {
        font-size: 70px;
    }
    .glowny_tekst p {
        line-height: 35px;
        width: 100%;
        margin-top: 2vh;
        font-size: 25px;
        margin: 0%;
    }
    .zdjecie_z_tekstem {
        margin: 0%;
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
    }
    .zdjecie_z_tekstem h2 {
        margin: 0%;
        padding-left: 2%;
        text-align: center;
    }
    .zdjecie_z_tekstem p{
        margin: 0%;
        padding-left: 2%;
        text-align: left;
        font-size: 25px;
    }
    .zdjecie_z_tekstem h2{
        font-size: 55px;
    }
    .zdjecie_z_tekstem img {
        padding: 0%;
        width: 100%;
        order: -1;
    }
    .puste_miejsce {
        width: 0px;
        height: 0px;
    }

    .opinie {
        height: 1400px;
        margin: 50px 0px;
        gap: 0%;
        padding: 2% 5%;
    }
    .opinie p{
        border-left: var(--color1) 2px solid;
        border-right: var(--color1) 2px solid;
    }
    .opinie h2 {
        font-size: 45px;
    }
    .klient {
        margin: auto;
        width: 90%;
        height: 300px;
    }
    .klient_zdjecie_div {
        margin: auto;
    }
    .rozdzielacz_opini {
        background-color: var(--color4);
        width: 80vw;
        height: 0.5vh;
        margin: 0 auto;
    }
    .pytania_i_odpowiedzi ul {
        margin: 10% auto;
        width: 80%;
    }
    .pytania_i_odpowiedzi h2{
        font-size: 35px;
    }
    .pytania_i_odpowiedzi p{
        font-size: 25px;
    }
    footer div {
        width: 100%;
        margin-left: 0;
    }
    /* galeria */
    .grid {
        width: auto;
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        grid-template-rows: repeat(4, 40vh);
        grid-gap: 0%;
        margin: auto;
        padding: 2%;
    }
    .galeria_header h1 {
        text-align: center;
        font-size: 100px;
    }
    .galeria_header h3 {
        text-align: center;
        font-size: 30px;
    }
    .galeria_header p {
        text-align: center;
        font-size: 40px;
    }
    /* kontakt */
    .kontakt_media h2{
        font-size: 30px;
        line-height: 40px;
    }
}
/*

██████████████████████████████████████████████
█░░░░░░██░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█
█░░▄▀░░██░░▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀░░██░░▄▀░░█░░░░░░░░░░▄▀░░█░░▄▀░░░░░░▄▀░░█
█░░▄▀░░██░░▄▀░░█████████░░▄▀░░█░░▄▀░░██░░▄▀░░█
█░░▄▀░░░░░░▄▀░░█░░░░░░░░░░▄▀░░█░░▄▀░░██░░▄▀░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀░░██░░▄▀░░█
█░░░░░░░░░░▄▀░░█░░▄▀░░░░░░░░░░█░░▄▀░░██░░▄▀░░█
█████████░░▄▀░░█░░▄▀░░█████████░░▄▀░░██░░▄▀░░█
█████████░░▄▀░░█░░▄▀░░░░░░░░░░█░░▄▀░░░░░░▄▀░░█
█████████░░▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█████████░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█
██████████████████████████████████████████████
*/
@media only screen and (max-width: 420px) {
    .img_koszyk {

    }

}
/* 
██████████████████████████████████████████████
█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█░░░░░░░░░░░░░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░░░░░░░░░▄▀░░█░░░░░░░░░░▄▀░░█░░▄▀░░░░░░░░░░█
█████████░░▄▀░░█████████░░▄▀░░█░░▄▀░░█████████
█░░░░░░░░░░▄▀░░█████████░░▄▀░░█░░▄▀░░░░░░░░░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█████████░░▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░▄▀░░░░░░░░░░█████████░░▄▀░░█░░░░░░░░░░▄▀░░█
█░░▄▀░░█████████████████░░▄▀░░█████████░░▄▀░░█
█░░▄▀░░░░░░░░░░█████████░░▄▀░░█░░░░░░░░░░▄▀░░█
█░░▄▀▄▀▄▀▄▀▄▀░░█████████░░▄▀░░█░░▄▀▄▀▄▀▄▀▄▀░░█
█░░░░░░░░░░░░░░█████████░░░░░░█░░░░░░░░░░░░░░█
██████████████████████████████████████████████
*/
@media only screen and (max-width: 420px) {
    body {
    font-size: xx-small;
    }
    .zdjecie_z_tekstem {
        width: 100%;
    }
    /* jest 13 urzadzen ktore sa w stanie miec tak mala rozdzielczosc. chyba sobie daruje. */
}