* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root {
    --color1: #ffeea8;
    --color2: #423e33;
    --color3: #fc2634;
    --color4: #f5404b;
}

body {
    color: var(--color2);
    background: var(--color1)
    /* linear-gradient(45deg,rgba(155,167,177, 0.7), transparent),
    repeating-linear-gradient(45deg, rgba(200,148,93,0.5) 0%,rgba(200,148,93, 1) 5%, rgb(112,75,50) 5%, rgba(112,75,50,0.5) 6%,transparent 6%,transparent 25%),
    rgba(143,169,188,0.5) repeating-linear-gradient(-45deg, rgb(117,118,121) 0%, rgba(117,118,121,0.5) 5%, transparent 5%, transparent 30%) */
    /* piękny griadient mojej roboty :) */
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: var(--color2);
    top: 0%;
    width: 100vw;
    display: flex;
    position: fixed;
    height: 5%;
    align-items:center;
    z-index: 999;
    border-bottom: 3px solid rgba(128, 128, 128, 0.683);
}
nav a {
    margin: 1%;
    font-size: 2vh;
    text-align: center;
    width: 10vh;
    height: 60%;
    color: var(--color);
    background-color: var(--color3);
    text-decoration: none;
}
nav a:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
nav h1 {
    text-align: right;
    margin-left:25%;

}
header{
    background-image: linear-gradient(var(--color1) 0%,var(--color4) 100%);
    height: 95vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    /*     flex-direction: column; */

}
.kreska_pod_header{
    margin: auto;
    width: 80vw;
    height: 0.5vh;
    background-color: var(--color2);
    margin-top: -5vh;
}
.logo{
    margin-top: 15%;
    width: 25%;
}
.img_koszyk {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 75%;
    opacity: 0.7;
    /*     ladnie zdjecie przycina :) */

}
.koszyk{
    text-align: center;
    width: 50%;
    height: 100%;

}
.textWHeader {
    width: 50%;
    height: 100%;
    margin: 5% 0%;
    text-align: center;
    
}
.textWHeader > h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 150px;
    margin-top: 5%;
}
.textWHeader > h1::first-line {
    font-family: 'Dancing Script', cursive;
    font-size: 70%;
}
.textWHeader > h3{
    font-family: 'Dancing Script', cursive;
    font-size: 250%;
    margin-top: 5%;
}
main > div {
    margin: 0px 1%;
}
.glowny_tekst {
    background-color: var(--color4);
    padding: 10vh 10vw;
}
.glowny_tekst h2 {
    font-family: 'Dancing Script', cursive;

    text-align: center;
    font-size:100px;
    line-height: 100px;
    margin-bottom: 30px;
    padding-top: 5vh;
}
.glowny_tekst p {
    padding: 0px 1vw;
    line-height: 35px;
    min-width: 200px;
    margin-top: 2vh;
    font-size: 30px;
}

.header_i_glowny_tekst {
    margin: 0%;
    margin-bottom: 5vh;
}

.puste_miejsce {
    min-width: 30%;
    height: 0px;
}
.zdjecie_z_tekstem {
    margin-bottom: 5vh;
    min-height: 200px;
    display: flex;
    align-items: center;
}
.zdjecie_z_tekstem img {
    width: 50%;
}
.zdjecie_z_tekstem h2 {
    font-size: 60px;
    margin: 0 20px;
    padding: 5px;
    text-align: center; 
}
.zdjecie_z_tekstem p {
    font-size: 30px;
    margin: 0 20px;
    padding: 5px;
    text-align: center;
    line-height: 35px;
}
.opinie {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    margin: 0px;
    background-color: var(--color2);
    color: var(--color1);
    align-items: center;
    gap: 2.5%;
    padding: 2% 5%;
}
.klient_zdjecie_div {
    width: 100%;
    height: 55%;
}
.opinie h2 {
    align-self: first baseline;
    text-align: center;
    width: 100%;
    font-size: 60px;
}
.klient {
    width: 30%;
    height: 80%;
}
.rozdzielacz_opini {
    background-color: var(--color4);
    width: 0vw;
    height: 0.5vh;
}
.opinie img{ 
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}
.opinie p {
    color: var(--color1);
    font-size: 25px;
    padding: 5px 10px;
    height: 39%;
}
.opinie h3 {
    width: 60%;
    margin: auto;
    color: var(--color1);
    font-size: 25px;
    padding: 0px 10px;
}
footer {
    background-color: var(--color2);
    color: var(--color1);
    height: 10vh;
    text-align: center;
}

/* dla galeri 33: https://1stwebdesigner.com/css-effects/ */

.galeria_header {
    margin: 0%;
    margin-top: 5vh;
    width: 100%;
    height: 45vh;
    background-color: var(--color1);
}
.galeria_header h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Dancing Script', cursive;
}
.galeria_header h3 {
    text-align: center;
    font-size: 40px;
}
.galeria_header p {
    text-align: center;
    font-size: 50px;
}







.grid {
    margin: 0px auto;
    padding: 5vh;
    width: 96vw;
    background-color: rgba(128, 128, 128, 0.8);
    display: grid;
    grid-template-columns: repeat(4, 21.5vw);
    grid-template-rows: repeat(4, 50vh);
    grid-auto-rows: 50vh;
    column-gap: 2vh;
    row-gap: 2vh;
}
.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;

    position: relative;
    display: block;
}
.galeria_zdjecie {
    padding: 2%;
    color: white;
    position: relative;
    text-align: center;

    overflow: hidden;
    cursor: default;
    background-color: var(--color4);
}
.galeria_zdjecie img:hover{
    transition: all 0.4s ease-in-out;
    opacity: 80%;
	transform: scale(1.1);

}
.galeria_zdjecie:hover .maska { 
	opacity: 1;
}
.maska {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    transition: all 0.4s ease-in-out;
}

.galeria_zdjecie h2{
    margin-top: 10%;
    width: 100%;
    height: 10%;
    background-color: #704b32;
    font-size: 40px;
}
.galeria_zdjecie p{
    margin-top: 5%;
    font-size: 25px;
}







.col_span2 {
    grid-column-end: span 2;
}
.row_span2 {
    grid-row-end: span 2;
}
.col_span3 {
    grid-column-end: span 3;
}

/* Kontakt */

.kontakt {
    background-color: #704b32;
    width: 95vw;
    height: 95vh;
    margin: auto;
    margin-top: 5vh;
    display: flex;
}
.kontakt_lewy {
    padding: 20px;
    margin: 2%;
    width: 50%;
    height: 90%;
    background-color: #eabc74;
}
.mapa {
    margin: 2%;
}
.kontakt h1 {
    text-transform: uppercase;
    font-size: 70px;
}
.kontakt h2 {
    font-size: 50px;
}
.kontakt p {
    font-size: 40px;
}
.kontakt img{
    margin-top: auto;
}
@media only screen and (max-width: 1050px) {
    .zdjecie_z_tekstem img {
        width: 100%;
        order: -1;
        flex-wrap: wrap;
    }
    .zdjecie_z_tekstem {
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
    }
    /* galeria */

    .galeria_header {
        margin: 0%;
        margin: 5vh 0px;
        padding-bottom: 5%;
        width: 100%;
        height: auto;
    }
    .grid {
        width: auto;
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        grid-template-rows:auto;
        grid-gap: 0%;
        margin: auto;
        padding: 2%;
    }
}
@media only screen and (max-width: 600px) {

    
    nav{
        width: 100%;
        display: flex;
        position: fixed;
        align-items:center;
    
    }
    nav a {
        font-size: 16px;
        text-align: center;
        width: 33%;
        height: 50%;
    }   
    .koszyk{
        margin: auto;
        width: 100%;
        height: 50vh;
    }
    header{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        /*     flex-direction: column; */
    
    }
    .textWHeader {
        width: 100%;
        height: 45vh;
        margin: auto;
        text-align: center;
    }
    .textWHeader > h1 {
        font-family: 'Dancing Script', cursive;
        font-size: 500%;
        margin-top: 5%;
    }
    .textWHeader > h1::first-line {
        font-family: 'Dancing Script', cursive;
        font-size: 70%;
    }
    .textWHeader > h3{
        font-family: 'Dancing Script', cursive;
        font-size: 165%;
        margin-top: 5%;
    }
    .glowny_tekst{
        padding: 4%;
    }
    
    .glowny_tekst p {
        line-height: 35px;
        width: 100%;
        margin-top: 2vh;
        font-size: 25px;
        margin: 0%;
    }
    .zdjecie_z_tekstem {
        min-height: 200px;
        display: flex;
        flex-wrap: wrap;
    }
    .zdjecie_z_tekstem p, .zdjecie_z_tekstem h2 {
        margin: 0%;
        text-align: left;
    }
    .zdjecie_z_tekstem p{
        font-size: 25px;
    }
    .zdjecie_z_tekstem h2{
        font-size: 55px;
    }
    .zdjecie_z_tekstem img {
        width: 100%;
        order: -1;
    }
    .puste_miejsce {
        width: 0px;
        height: 0px;
    }

    .opinie {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 240vh;
        margin: 0px;
        background-color: var(--color2);
        color: var(--color1);
        align-items: center;
        gap: 0%;
        padding: 2% 5%;
    }
    .opinie p{
        border-left: var(--color1) 2px solid;
        border-right: var(--color1) 2px solid;
    }
    .klient {
        margin: auto;
        width: 90%;
        height: 60vh;
    }
    .rozdzielacz_opini {
        background-color: var(--color4);
        width: 80vw;
        height: 0.5vh;
        margin: auto;
    }

    /* galeria */
    .grid {
        width: auto;
        display: grid;
        grid-template-columns: 49.5% 49.5%;
        grid-template-rows: repeat(4, 40vh);
        grid-gap: 0%;
        margin: auto;
        padding: 2%;
    }
    .galeria_header h1 {
        text-align: center;
        font-size: 100px;
    }
    .galeria_header h3 {
        text-align: center;
        font-size: 30px;
    }
    .galeria_header p {
        text-align: center;
        font-size: 40px;
    }

}
@media only screen and (max-width: 420px) {
    .img_koszyk {

    }

}